
body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    background-color: #f7f7f7;
  }

  .top {
    height: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 50px;
}

.choices{
    margin: 10px 0;
    text-align: left;
}

.choice{
    padding: 10px;
    margin-top: 0 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice > img{    
    border-radius: 50%;
    border: 2px solid red;
    max-width:100%;
    height:250px;
    display: block;
}

.red-text {
    color: black;
  }

  h2 {
    font-family: Lobster, monospace;
    margin-top: auto;
  }

  p {
    font-size: 16px;
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 150px;
  }

  li{
   font-family: Arial, sans-serif;
  }

  footer{
    margin: auto;  
    background-color: #24272e;
    color: white;
  }