
body {
    background-color: #c6c2c2;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
  }

  h3,h1{
      color: #7127f0;
      font-weight: bold;
}


.choices{
    margin: 10px 0;
    text-align: left;
}

.choice{
    padding: 10px;
    margin-top: 0 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice > img{    
    border-radius: 50%;
    border: 2px solid silver;
    max-width:90%;
    height:100px;
    display: block;
}

p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
.home{
    color: black;
    font-weight: bold;
}